
body{
color: white;
    background-color: black;
}
.pageheader{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 50px 40px 40px 30px;
    background-color: black;
}
.img{
    width: 700px;
}
.content{
    text-align: center;
    position: relative;
    left: 40px;
    font-size: 30px;
    word-wrap: break-word;
    width: 600;
}
.bodyparagraph{
    background-color: grey;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
}
