
body{
color: white;
    background-color: black;
}
.pageheader{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 50px 40px 40px 30px;
    background-color: black;
}
img{
    width: 300px;
}
content{
    margin-left: 350px;
    position: absolute;
    bottom: ; 
}